@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  margin: 10px;
}

.input-field {
  width: 300px;
  height: 40px;
  padding: 0px 10px;
}

.button {
  width: 300px;
  height: 40px;
  background: transparent;
  border: solid 1px gray;
  border-radius: 2px;
  color: gray;
}

.container {
  text-align: center;
}

.button-link {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: rgb(45, 171, 220);
  margin: 20px 0px 50px 0px;
}
